/* General Rules */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 1.08em;
  margin-bottom: 20px;
}

ul,
ol,
li {
  font-size: 1.02em;
}

li {
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: auto;
}

a,
.dropdown-menu a:hover,
.dropdown-menu a:focus {
  color: #0645AD;
}

a:hover,
a:focus,
a:active,
a.active,
button.close:hover,
button.close:focus {
    color: #006400;
}

a[href$=".pdf"]::after {
  content: " (PDF)";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.card h3 {
  font-size: 1.35em;
}

hr {
  border-top-color: #999;
}

header nav a,
.portfolio-item a.btn-primary,
.about-intro a.btn-primary,
.client-list h4,
body.portfolio .portfolio-item div.caption a.btn-primary,
body.pf-single .pf-link {
  font-size: 1.25em;
}

img {
  object-fit: cover;
}

section {
  padding: 50px 0;
}

section h2 {
  margin: 0;
  font-size: 2.5em;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.25s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}

.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}

.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}

.scroll-top .btn:focus {
  outline: none;
}

button.close {
  opacity: 1;
}

.btn-primary,
#emailModal div.modal-footer button.btn.btn-default {
color: white;
background-color: #6C815E;
border-color: #000;
font-weight: 700;
-webkit-transition: background 0.25s ease-in-out, border-color 0.25s ease-in-out;
-moz-transition: background 0.25s ease-in-out, border-color 0.25s ease-in-out;
-o-transition: background 0.25s ease-in-out, border-color 0.25s ease-in-out;
transition: background 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
#emailModal div.modal-footer button.btn.btn-default:hover,
#emailModal div.modal-footer button.btn.btn-default:focus {
color: white;
background-color: #000;
border-color: #000;
}

/*** Header ***/
header,
footer {
    background-color: #6C815E;
}

span.caret {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid rgb(214, 172, 172);
}

header nav a:hover,
header nav a:focus,
.social-footer a:hover,
.social-footer a:focus {
    color: #000;
}

header nav a:hover,
header nav a:focus {
  border-bottom-color: #000;
}

header nav a {
  color: white;
  transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  border-bottom: #6C815E solid 1px;
}

header nav a.navbar-brand {
  font-size: 1.5em;
}

.dropdown-menu {
  left: auto;
  right: 1vw;
  width: fit-content;
  border-color: #333;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background: inherit;
}

/*** Footer ***/
footer {
  color: white;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
}

footer img.social-icon {
	display: inline-block;
	height: 40px;
	width: 40px;
}

.social-footer span {
    margin: 0 20px;
}

.social-footer hr {
    width: 50%;
}

/*** Homepage ***/
body.home section {
  padding: 100px 0;
}

footer hr,
body.portfolio footer hr {
    border-top-color: #fff;
}

/* About Me Summary */
.home-intro,
.about-intro {
    background: url(/assets/images/pexels-photo-129882-transparent.jpeg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-intro p {
    font-size: 1.75em;
}

.home-intro img {
   margin-top: -45px;
}

/* Featured Portfolio Items */
#home-portfolio {
    background: url(/assets/images/skyline-buildings-new-york-skyscrapers-transparent.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.feat-posts div.card-body img {
  margin-bottom: 15px;
}

.feat-posts div.card-body h3,
.feat-portfolio div.card-body h3 {
  min-height: 100px;
}

.feat-portfolio div.card-body img {
  max-height: 150px;
  min-height: 150px;
  overflow-y: hidden;
}

.feat-portfolio div.card-body p {
  min-height: 175px;
}

.feat-portfolio h2,
.prof-services h2,
.feat-posts h2,
.client-list h2,
.about-contribute h2 {
    margin-bottom: 50px;
}

.feat-portfolio .card,
.feat-posts .card {
  min-height: 600px;
}

.feat-portfolio .card,
.prof-services .card,
.feat-posts .card {
    padding: 25px;
}

.feat-portfolio .card h3,
.feat-portfolio .card img,
.prof-services h3,
.prof-services i {
    margin-bottom: 25px;
}

.portfolio-item a.btn-primary {
    width: 150px;
}

/* Featured Posts */
.feat-posts .card,
.feat-portfolio .card {
    border-color: #555;
}

.feat-posts .card hr {
    border-top-color: #555;
}

/*** About Page ***/
.about-intro div.bg-white {
  padding: 50px;
  border-radius: 5%;
}

.about-intro a.btn-primary {
    margin: 50px auto;
}

.about-intro h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.about-intro ul,
.pf-single div.post-content ul {
    list-style: square;
}

.about-contribute h3 {
  margin-top: 35px;
  font-size: 1.5em;
}

.client-list {
    background: url(/assets/images/herring-cove-beach-sunset-transparent.JPG) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.client-list .row {
    margin: 0 auto;
}

.client-list h4 {
    display: inline-block;
    margin: 15px 10px;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
}

/*** Portfolio Pages ***/
.portfolio-main {
    /*min-height: 700px;*/
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 75px;
}

body.portfolio hr {
    border-top-width: 2px;
    border-top-color: #555;
}

body.portfolio h1 {
  margin-bottom: 50px;
}

.pf-single h1 {
  font-size: 1.75em;
}

body.pf-single .pf-link {
    display: block;
    width: 300px;
    margin: 25px auto 50px auto;
}

body.pf-single section hr {
  margin: 35px 0;
}

.portfolio-item a {
  text-decoration: none;
}

/*** Media Queries ***/
@media screen and (max-width:768px) {
    .navbar-brand {
        font-size: 2em;
    }

  section,
  #home-portfolio,
  .client-list {
    padding: 75px 0;
  }

    section.first {
    padding-top: 75px;
  }

    /* Home Page */
    .home-intro {
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .home-intro img,
    .about-intro img {
        max-width: 80%;
        margin: 0 auto;
    }

    .home-intro p {
        margin-top: 30px;
        font-size: 1.75em;
    }

    .feat-posts .col-md-4,
    #home-portfolio .portfolio-item,
    body.portfolio .portfolio-item {
        margin-bottom: 50px;
    }

    .feat-posts .col-md-4:last-child,
    #home-portfolio .portfolio-item:last-child,
    body.portfolio .portfolio-item:last-child {
        margin-bottom: 0;
    }

    #home-portfolio {
        margin-top: 0;
    }

    .portfolio-item a.btn-primary {
        margin-top: 30px;
    }

    .social-footer .fa {
        font-size: 4em;
    }

    /* About */
    .about-intro {
        margin-top: 15px;
    }

    .about-intro p {
        margin-top: 20px;
    }

    .about-intro a.btn-primary {
        margin: 25px 0;
    }

    .about-intro li {
        margin-top: 15px;
    }

    .client-list {
        text-align: center;
    }

    .client-list h2 {
        font-size: 2.5em;
    }

    /* Portfolio */
    body.pf-single section {
        margin-top: 0;
    }

    body.portfolio .feat-portfolio {
        padding: 25px 0;
    }

    body.portfolio h2 {
        font-size: 2em;
    }

    body.portfolio h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width:600px) {
    .navbar-brand {
        font-size: 1.25em;
    }

    body.pf-single .pf-link,
    .portfolio-item a.btn-primary {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 1024px) {
     a {
        text-decoration: underline;
    }

    nav a,
    a.btn-primary {
        text-decoration: none;
    }
}