html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: square;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: rgb(0, 95, 162);
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: orange;
    text-decoration: none;
    padding: 0 0.1em;    
}

a:hover,
a:focus {    
    text-decoration: underline;
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    width: 780px;
    max-width: 100%;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;    
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;
    width: 900px;    
    height: 725px;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: #333;    
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide {
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 50px;
}

.slide strong {
    white-space: nowrap;
}

#overview { display: none }

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.hint {    
    display: none;    
    position: fixed;
    left: 0;
    right: 0;
    bottom: 125px;
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    z-index: 100;    
    opacity: 0;    
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);    
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;    
}

.impress-enabled .hint { display: block }

.impress-on-title .hint { 
    display: none;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);    
    -webkit-transition: opacity 1s 1.5s, -webkit-transform 0.5s 1.5s;
    -moz-transition:    opacity 1s 1.5s,    -moz-transform 0.5s 1.5s;
    -ms-transition:     opacity 1s 1.5s,     -ms-transform 0.5s 1.5s;
    -o-transition:      opacity 1s 1.5s,      -o-transform 0.5s 1.5s;
    transition:         opacity 1s 1.5s,         transform 0.5s 1.5s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

/* Custom Styles */
.slide .title,
.make-map {
     font-family: 'Merriweather', serif;
}

.slide .title {
    margin-bottom: 50px;    
    font-weight: bold;
    font-size: 1.5em;   
    line-height: 1.25em;   
}

.make-map {
    color: #fff;
    font-size: 3em;
}

.slide p, 
.slide li {
    font-family: 'Roboto', sans-serif;
}