{% for project in site.data.featuredProjects %}
<div class="col-lg-4 portfolio-item">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center card-title">{{ project.title }}</h3>
            <img src="assets/images/portfolio/{{ project.image }}" alt="{{ project.image-alt }}" class="img-fluid card-img-top" loading="lazy" />
            <div class="caption">
                <p class="card-text">{{ project.teaser }}</p>
                <!-- Link to project page -->
                <a class="btn btn-primary mx-auto d-block" href="{{ project.url }}">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}