{% for project in site.data.featuredProjects %}
<div class="col-md-4 portfolio-item">
    <div class="thumbnail">
        <h3 class="text-center">{{ project.title }}</h3>
        <img src="assets/images/portfolio/{{ project.image }}" alt="{{ project.image-alt }}" class="img-responsive" />
        <div class="caption">                          
            <p>{{ project.teaser }}</p>               
            <!-- Link to project page -->
            <a class="btn btn-primary center-block" href="{{ project.url }}">Learn More</a>     
        </div>
    </div>
</div>
{% endfor %}