<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row social-footer">
                <h3>Let&#8217;s Connect</h3>                        
				<a href="#" data-toggle="modal" data-target="#emailModal"><img class="social-icon img-responsive" alt="icon representing an envelop for e-mail" src="{{site.url}}/assets/images/email-icon-white.png" /></a>
				<span></span>
				<a href="https://www.linkedin.com/in/patricknmckinney" target="_blank"><img class="social-icon img-responsive" alt="icon representing the logo for LinkedIn" src="{{site.url}}/assets/images/linkedin-icon-white.png" /></a>
				<span></span>
				<a href="https://github.com/pmacMaps" target="_blank"><img class="social-icon img-responsive" alt="icon representing the logo for GitHub" src="{{site.url}}/assets/images/github-icon-white.png" /></a>
				<hr />
             </div>
         	 <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Patrick N. McKinney 2019</p>
                </div>
            </div>
        </div>
    </div>
</footer> <!-- ./ Footer -->
<!-- E-mail text modal -->
<div id="emailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span   aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact Me</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">pnmcartography@gmail.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- jQuery -->
<script data-cfasync="false" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Bootstrap -->
<script data-cfasync="false" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<!-- UI Enhancements -->
<script src="{{site.url}}/js/ui.js"></script>