<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Let&#8217;s Connect</h3>
                </div>
            </div>
            <div class="row social-footer">
                <div class="col">
                    <a href="#" data-toggle="modal" data-target="#emailModal"><img class="social-icon img-fluid" alt="icon representing an envelop for e-mail" loading="lazy" src="{{site.baseurl}}/assets/images/email-icon-white.png" /></a>
				    <span></span>
				    <a href="https://www.linkedin.com/in/patricknmckinney" target="_blank"><img class="social-icon img-fluid" alt="icon representing the logo for LinkedIn" loading="lazy" src="{{site.baseurl}}/assets/images/linkedin-icon-white.png" /></a>
				    <span></span>
				    <a href="https://github.com/pmacMaps" target="_blank"><img class="social-icon img-fluid" alt="icon representing the logo for GitHub" loading="lazy" src="{{site.baseurl}}/assets/images/github-icon-white.png" /></a>
				    <hr />
                </div>
             </div>
         	 <div class="row">
                <div class="col">
                    <p>Copyright &copy; Patrick N. McKinney 2022</p>
                </div>
            </div>
        </div>
    </div>
</footer> <!-- ./ Footer -->
<!-- E-mail text modal -->
<div id="emailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span   aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact Me</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">pnmcartography@gmail.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- jQuery -->
<script data-cfasync="false" src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script data-cfasync="false" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<!-- UI Enhancements -->
<script src="{{site.baseurl}}/js/ui.js" async></script>
