<header class="fixed-top">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{ site.baseurl }}">Patrick N. McKinney</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          Menu
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ site.baseurl }}/portfolio/web-maps">Web Maps</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/portfolio/print-maps">Print Maps</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/portfolio/python-scripting">Python Scripting</a>
              <a class="dropdown-item" href="{{ site.baseurl }}/portfolio/web-development">Web Development</a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://pnmcartodesign.wordpress.com/" target="_blank" rel="noopener noreferrer">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
</header>