<div class="col-md-4 portfolio-item">
    <div class="thumbnail">
        <h3 class="text-center">{{ include.title }}</h3>
        <img src="../assets/images/portfolio/{{ include.image }}" alt="{{ include.alt }}" class="img-responsive">
        <div class="caption">                          
            <p>{{ include.teaser }}</p>         
            <div class="text-center">
                <a class="btn btn-primary" href="{{ include.url | prepend: site.baseurl}}">View Project</a>
            </div>
        </div>
    </div>
</div>